.alert{
    margin-top: 20px;
    margin-bottom: 30px;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    color: white;
}

#btnCrearSala{
    font-size: 25px;
}

