.contenedor{
    margin-bottom: 50px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 35px;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}