<div class="alert alert-primary" role="alert">
  Salas Existentes
</div>


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div *ngIf="salas.length == 1" class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../assets/{{getImagen()}}" class="d-block w-100" alt="...">
      <div class="texto carousel-caption d-none d-md-block">
        <h3>{{salas[0].nombre}}</h3>
        <p>Sala que se encuentra ubicada en {{salas[0].ubicacion}} con una capacidad de hasta {{salas[0].capacidad}} personas.</p>
        <button type="button" class="btn btn-info">
          <a [routerLink]="['/sala', salas[0].id_sala, salas[0].nombre, salas[0].ubicacion, salas[0].capacidad,imagen]">Ver Sala</a>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="salas.length != 1" class="carousel-inner">
    <div *ngFor="let sala of salas; let i = index">
        <div *ngIf="i == 0">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="../../assets/{{getImagen()}}" class="d-block w-100" alt="...">
                <div class=" texto carousel-caption d-none d-md-block">
                    <h3>{{sala.nombre}}</h3>
                    <p>Sala que se encuentra ubicada en {{sala.ubicacion}} con una capacidad de hasta {{sala.capacidad}} personas.</p>
                    <button type="button" class="btn btn-info">
                        <a [routerLink]="['/sala',salas[i].id_sala, salas[i].nombre, salas[i].ubicacion, salas[i].capacidad,imagen]">Ver Sala</a>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="i != 0">
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../../assets/{{getImagen()}}" class="d-block w-100" alt="...">
                <div class="texto carousel-caption d-none d-md-block">
                    <h3>{{sala.nombre}}</h3>
                    <p>Sala que se encuentra ubicada en {{sala.ubicacion}} con una capacidad de hasta {{sala.capacidad}} personas.</p>
                    <button type="button" class="btn btn-info">
                        <a [routerLink]="['/sala', salas[i].id_sala, salas[i].nombre, salas[i].ubicacion, salas[i].capacidad,imagen]">Ver Sala</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>