<div class="alert alert-primary" role="alert">
  Próximas Juntas
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <button id="btnCrearReserva" class="btn btn-primary" type="button">
      <a [routerLink]="['/editarreservacion']">Crear Nueva Junta</a>
  </button>
</div>

<div class="contenedor">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let reservacion of reservaciones; let i = index" class="col">
        <div class="card h-100">
          <img src="../../assets/{{getImagen()}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Junta en {{getNombreSala(reservaciones[i].id_sala)}}</h3>
            <p class="card-text"><b>Fecha de Inicio:</b> {{reservaciones[i].fecha_inicio}}</p>
            <p class="card-text"><b>Fecha de Término:</b> {{reservaciones[i].fecha_fin}}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success">
                  <a [routerLink]="['/reservacion', reservaciones[i].id_reservacion, reservaciones[i].id_sala, reservaciones[i].fecha_inicio,reservaciones[i].fecha_fin,getNombreSala(reservaciones[i].id_sala),imagen]">Ver Junta</a>
              </button>
              <button type="button" class="btn btn-warning">
                  <a [routerLink]="['/editarreservacion', reservaciones[i].id_reservacion, reservaciones[i].id_sala, reservaciones[i].fecha_inicio,reservaciones[i].fecha_fin,imagen,getNombreSala(reservaciones[i].id_sala)]">Editar Junta</a>
              </button>
              <button type="button" (click)="borrarJunta(reservaciones[i].id_reservacion)" class="btn btn-danger">Eliminar Junta</button>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>